<div class="wrapper wrapper--top-nav">
  <div class="wrapper-box">
    <div class="content">
      <div class="flex items-center mt-8">
        <h1 class="intro-y text-lg font-medium mr-auto">
          Inscripción - II CITC2022
        </h1>
      </div>

      <div class="intro-y box py-10 sm:py-20 mt-5">
        <div class="flex justify-center">
          <%= image_tag('logo.png', class: 'h-48') %>
        </div>
        <div class="px-5 mt-10">
          <div class="font-medium text-center text-lg">INSCRIPCIÓN</div>
          <div class="text-slate-500 text-center mt-2">II Congreso Internacional de Teoria Contable 2022.</div>
        </div>

        <div id="registrations">
        </div>
      </div>
    </div>
  </div>
</div>
